transformers==4.38.0
accelerate==0.27.0

# --- CORE ASYNC ENGINE ---
fastapi
uvicorn[standard]
httpx
python-multipart
pydantic-settings
python-dotenv

# ----AUTH ---
authlib

# --- BAZĂ DE DATE (Asincron) ---
aiosqlite
mysql-connector-python

# --- AI & DATA SCIENCE ---
ollama
sentence-transformers>=2.2.2
scikit-learn
pandas
numpy<2
tqdm

# --- PROCESARE DOCUMENTE & WEB ---
PyPDF2
pdfplumber
beautifulsoup4
lxml
markdown
bleach
python-slugify

# --- AUDIO & UTILS ---
pydub
pytz
python-dateutil
itsdangerous
ddgs
passlib[bcrypt]
psutil
docker
nvidia-ml-py
pymupdf==1.23.8
python-docx==1.1.0
pytesseract==0.3.10
Pillow==10.2.0

# --- Procesare photo ---
Pillow==10.2.0
