<nav class="navbar navbar-expand-lg border-bottom sticky-top bg-body-tertiary">

    <button class="btn btn-outline-primary d-lg-none rounded-circle" id="sidebar-hamburger"
        style="width: 40px; height: 40px; padding: 0;" title="Meniu conversații">
        <i class="bi bi-list fs-4"></i>
    </button>
    <a class="navbar-brand" href="/">S366 <span class="text-primary"> TurboChat</span></a>

    <div class="d-flex align-items-center order-lg-3">
        <button class="btn btn-link nav-link px-3 border-0" id="themeToggler" type="button">
            <i class="bi bi-sun-fill fs-5"></i>
            <i class="bi bi-moon-stars-fill fs-5"></i>
        </button>


    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
        </ul>

        <ul class="navbar-nav ms-auto">
            {% if request.session.get('user_id') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                    <img src="{{ request.session.get('photo_url') or '/static/images/anonymous.png' }}" width="30"
                        height="30" class="rounded-circle me-1">
                    {{ request.session.get('firstname') }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end bg-dark border-secondary">
                    <li><a class="dropdown-item text-white" href="/auth/profile">Profilul meu</a></li>
                    <li>
                        <hr class="dropdown-divider border-secondary">
                    </li>
                    <li><a class="dropdown-item text-danger" href="/auth/logout">Deconectare</a></li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Autentificare</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
